.portfolio img {
  white-space: none;
  width: 48%;
  padding-right: none;
}

.gallery img {
  white-space: none;
  width: 48%;
  padding-right: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clr {
  clear: both;
  padding: 0;
  margin: 0;
}

.blogcontent, .contactcontent {
  width: 100%;
  float: none;
}
